

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Optional: Hide Google Translate top bar if you are using it */
.goog-te-banner-frame { 
  display: none !important; 
}
body { 
  top: 0 !important; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
.no-scrollbar {
  scrollbar-width: none;
}